<div class="course-group">
                <div class="top-group">
                    <span class="title-group">在线课堂</span>
                    <a href="#" class="more-group">更多</a>
                </div>
            </div>
<div class="pay-info-group">
    <a href="#">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1531029567815&di=134cdf42f58a8e427a3986ebe83f0ccc&imgtype=0&src=http%3A%2F%2Fcyf-img.bdstatic.com%2Fimg_592a8e21b7a32_95bdd2e5436bb35fb8eb9ad72e729acf.jpg" alt="">
    </a>
</div>
<div class="focus-group">
    <div class="title-group">关注小饭桌</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                <div class="logo-group zhihu-logo"></div>
                <div class="text-group">
                    <a href="#">小饭桌创业课堂</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group weibo-logo"></div>
                <div class="text-group">
                    <a href="#">小饭桌创业课堂</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group toutiao-logo"></div>
                <div class="text-group">
                    <a href="#">小饭桌</a>
                </div>
            </div>
        </div>
        <div class="right-group">
            <div class="qr-group"></div>
            <p class="text-group">扫码关注小饭桌微信公众平台xfz008</p>
        </div>
    </div>
</div>